@charset "utf-8";

@use 'utilities/variables' as *;
@use 'modules/button';
@use 'modules/cards';
@use 'modules/footer';
@use './pages/restaurant';

@use 'utilities/fonts';



*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    
    min-height: 100%;
    display: flex;
    justify-content: center;
}

.body__container {
    position: relative;
    width: 100%;
    max-width: 1440px;
}


/***************  HEADER **************/

nav {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

        .nav__logo{
            width: 100%;
            display: flex;
            justify-content: center;
            height: 36px;
            padding: 10px 0;
    
            }
            

        }

        .nav-restaurant__return {
            position: absolute;
            z-index: 2;
            left: 10px;
        }

        .nav__input {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            background-color: rgba(234, 234, 234, 1);
            font-size: 16px;
            
            
                .fa-location-dot {
                    padding-inline: 10px;               }
        }


.section-header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    background-color: $mainbgcolor;

    h1 {
        font-size: 24px;
        
    }
}

.section-function {
    padding: 30px 5%;

    &__container{
        margin-top: 30px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 35px;

          
        &--tips {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: $mainbgcolor;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            
        

                &--dot {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    left: -10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;                    
                    background: $primarycolor;
                    border-radius: 20px;
                    color: $secondbgcolor;
                }

                i {
                    
                    color: rgba(126, 126, 126, 1);
                }

                p {
                    padding: 20px;
                }
        }

        .fa-store {
             color: $primarycolor;
        }
    }
}

/*** Adjust position icon section function ****/

.adjust-position-1 {

    padding-left: 12px;

}

.adjust-position-2 {
    margin-left: -14px;
}


.section-restaurants {
    background: $mainbgcolor;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;

    

    &__container {
        
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
}


/****** Media queries ***********/
/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {

    .section-function {

        padding-inline: 5%;
    }

    .section-restaurants {

        padding-inline: 5%;

        &__title {
            width: 100%;
        }
        &__container {
            flex-flow: row wrap;
            justify-content: space-between;
            
        }
    }
}

/* Large Devices (Desktop, more/equal than 1024px */
@media (min-width:1200px) {

    .section-function {

        padding-inline: 10%;

        &__container {

            flex-direction: row;

            &--tips {
                width: 33%;
            }
        }

    
    }

    .section-restaurants {

        padding-inline: 10%;

        
    }

}


/***** LOADER *****/


.loader {
    position: absolute;
    z-index: 500;
    inset: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(234, 234, 234, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    animation: disapear 1s 3000ms forwards ;
    

    &__logo {
       display: flex;
       justify-content: center;
       margin: auto;
       width: 100%;
       height: 40px;
    }

    &__container {
        display: flex;
        gap: 20px;
    }

    &__square {

        width: 20px;
        height: 20px;
    }

    &__square-1 {
        background-color: $primarycolor;
        animation: loader 2s both infinite;
    }

    &__square-2 {
        background-color: $secondarycolor;
        animation: loader-2 2s infinite;
    }

    &__square-3 {
        background-color: $thirdcolor;
        animation: loader-3 2s infinite;
    }
}

@keyframes loader {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translateX(80px);
        
    }

    50% {
        transform: translateX(40px);
        
    }
    
    75% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes loader-2 {
    0% {
        transform: translate(0);
    }
    25% {
        
        transform: translateX(0);
    }

    50% {
        transform: translateX(-40px);
    }

    75% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes loader-3 {
    0% {
        transform: translate(0);
    }
    25% {
        transform: translateX(-80px)
    }

    50% {
        transform: translateX(0);
        
    }

    75% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes disapear {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-9999px);
    }
}