/**  Colors **/

$primarycolor: #9356DC;
$secondarycolor: #FF79DA;
$thirdcolor: #99E2D0;

$lightprimarycolor: lighten(#9356DC, 5%);
$lightsecondarycolor: lighten(#FF79DA, 5%);

$mainbgcolor: rgba(246, 246, 246, 1);
$secondbgcolor: rgba(255, 255, 255, 1);