@charset "UTF-8";

/**  Colors **/

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;

$light-primary-color: lighten(#9356DC, 5%);
$light-secondary-color: lighten(#FF79DA, 5%);

$main-bg-color: rgba(246, 246, 246, 1);
$second-bg-color: rgba(255, 255, 255, 1);

/************ Fonts **************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&family=Shrikhand&display=swap');


/********** Linked SCSS files **********/

@import "composants/_button.scss";
@import "composants/_cards.scss";
@import "composants/_footer.scss";
@import "composants/loader";










/***************************************/



*{
    margin: 0;
    font-family: 'roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

.body__container {
    width: 100%;
    max-width: 1440px;
}

/***************  HEADER **************/

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

        .nav__logo{
            width: 100%;
            display: flex;
            justify-content: center;
            height: 36px;
            padding: 15px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

        }


        .nav__input {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: auto;
            height: 50px;
            background-color: rgba(234, 234, 234, 1);
            font-size: 16px;
            
                .fa-location-dot {
                    margin-right: 20px;
                }
        }
}

.section-header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    background-color: $main-bg-color;

    h1 {
        font-size: 24px;
        
    }
}

.section-function {
    padding: 30px 5%;

    &__container{
        margin-top: 30px;
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        gap: 25px;

          
        &--tips {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background-color: $main-bg-color;
            box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            padding: 0 15px;
            
        

                &--dot {
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    left: -10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;                    
                    background: $primary-color;
                    border-radius: 20px;
                    color: $second-bg-color;
                }

                i {
                    padding-left: 20px;
                    color: rgba(126, 126, 126, 1);
                }

                p {
                    padding: 20px;
                }
        }

        .fa-store {
            color: $primary-color;
        }
    }
}

.section-restaurants {
    background: $main-bg-color;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;

    

    &__container {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }
}


/****** Media queries ***********/
/* Medium devices (tablets, more/equal than 769px) */
@media (min-width: 769px) {

    .section-function {

        padding-inline: 5%;
    }

    .section-restaurants {

        padding-inline: 5%;

        &__title {
            width: 100%;
        }
        &__container {
            flex-flow: row wrap;
            justify-content: space-between;
            
        }
    }
}

/* Large Devices (Desktop, more/equal than 1025px */
@media (min-width:1025px) {

    .section-function {

        padding-inline: 10%;

        &__container {

            flex-direction: row;

            &--tips {
                width: 28%;
            }
        }

    
    }

    .section-restaurants {

        padding-inline: 10%;

        
    }

}