@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
/**  Colors **/
.main-button {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  color: rgb(255, 255, 255);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  text-decoration: none;
  padding: 15px 35px;
  font-weight: 500;
  transition: all 400ms ease-in-out;
  position: relative;
  z-index: 25;
}
.main-button:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 251px;
  border-radius: 15px;
  border-radius: 15px;
  background: rgb(255, 255, 255);
  overflow: hidden;
  padding-bottom: 15px;
}
.cards__link {
  text-decoration: none;
  color: black;
}
.cards__img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}
.cards__tag {
  position: absolute;
}
.cards__content {
  padding: 15px;
}
.cards__title {
  width: 70%;
}
.cards__icone {
  font-size: 20px;
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.cards__tag {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #99E2D0;
  color: rgb(0, 135, 102);
  font-weight: 500;
  border-radius: 2px;
  padding: 10px;
}

#checkbox, #checkbox2, #checkbox3, #checkbox4 {
  display: none;
}

i.fa-regular.fa-heart:hover {
  cursor: pointer;
}

i.fa-solid.fa-heart {
  visibility: hidden;
  font-size: 0;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

input[type=checkbox]:checked ~ i.fa-solid.fa-heart {
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  visibility: inherit;
  font-size: 23px;
}

/****** Media queries ***********/
/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {
  .cards {
    min-width: 47%;
  }
}
/* Large Devices (Desktop, more/equal than 1024px */
@media (min-width: 1024px) {
  .cards {
    min-width: 48%;
    max-width: 490px;
  }
}
.footer {
  padding: 22px 25px;
  display: flex;
  flex-direction: column;
  background: rgb(53, 53, 53);
  color: rgb(255, 255, 255);
}
.footer__title {
  font-family: "shrikhand";
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
  font-weight: 500;
  margin-top: 15px;
  padding-left: 0;
}
.footer__list--link a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.footer__list--link i {
  width: 20px;
  padding-right: 5px;
}

/****** Media queries ***********/
/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {
  .footer {
    height: 60px;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer__title {
    margin-left: 20px;
  }
  .footer__list {
    flex-direction: row;
    margin-top: 0;
  }
  .footer__list :nth-child(3) {
    margin-left: 1rem;
  }
}
/* Large Devices (Desktop, more/equal than 1024px */
@media (min-width: 1024px) {
  .footer {
    padding-inline: 5%;
    align-items: flex-end;
  }
  .footer__title {
    padding-left: 5%;
  }
  .footer__list :nth-child(3) {
    margin-left: 3rem;
  }
}
.nav-restaurant {
  flex-direction: row;
  justify-content: center;
}
.nav-restaurant__return {
  position: relative;
  left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 22px;
}

.image-restaurant {
  max-height: 275px;
  width: 100%;
  object-fit: cover;
}

.section-menu .title {
  font-family: "Shrikhand", sans-serif;
}
.section-menu .menu-content {
  position: relative;
  background-color: rgb(246, 246, 246);
  border-radius: 40px 40px 0 0;
  margin-top: -40px;
  padding: 5%;
}
.section-menu .menu-content__header {
  display: flex;
  justify-content: center;
  gap: 10px;
}

i.fa-regular {
  font-size: 20px;
}

.dish {
  margin: 20px 0;
}
.dish__title {
  font-size: 16px;
  font-weight: 300;
}
.dish__available {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
}
.dish__available:hover .dish__add--effect {
  margin-right: 0;
}
.dish__content {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__content--title {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish--price {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  padding: 10px;
  font-weight: 700;
}
.dish__add--effect {
  width: 69px;
  margin-right: -69px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin-right 800ms 100ms;
}

.dish__add {
  display: flex;
}

.border {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.dish__anima-0 {
  animation: appear 2000ms 200ms ease-in-out backwards;
}

.dish__anima-1 {
  animation: appear 2000ms ease-in-out 1000ms backwards;
}

.dish__anima-2 {
  animation: appear 2000ms ease-in-out 1500ms backwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/****** Media queries ***********/
/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {
  .section-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-menu .menu-content {
    width: 50%;
    padding-inline: 15%;
  }
}
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
}

.body__container {
  position: relative;
  width: 100%;
  max-width: 1440px;
}

/***************  HEADER **************/
nav {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
nav .nav__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 36px;
  padding: 10px 0;
}

.nav-restaurant__return {
  position: absolute;
  z-index: 2;
  left: 10px;
}

.nav__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(234, 234, 234);
  font-size: 16px;
}
.nav__input .fa-location-dot {
  padding-inline: 10px;
}

.section-header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  background-color: rgb(246, 246, 246);
}
.section-header h1 {
  font-size: 24px;
}

.section-function {
  padding: 30px 5%;
}
.section-function__container {
  margin-top: 30px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.section-function__container--tips {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(246, 246, 246);
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}
.section-function__container--tips--dot {
  width: 24px;
  height: 24px;
  position: absolute;
  left: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9356DC;
  border-radius: 20px;
  color: rgb(255, 255, 255);
}
.section-function__container--tips i {
  color: rgb(126, 126, 126);
}
.section-function__container--tips p {
  padding: 20px;
}
.section-function__container .fa-store {
  color: #9356DC;
}

/*** Adjust position icon section function ****/
.adjust-position-1 {
  padding-left: 12px;
}

.adjust-position-2 {
  margin-left: -14px;
}

.section-restaurants {
  background: rgb(246, 246, 246);
  padding: 2% 5%;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.section-restaurants__container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

/****** Media queries ***********/
/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 768px) {
  .section-function {
    padding-inline: 5%;
  }
  .section-restaurants {
    padding-inline: 5%;
  }
  .section-restaurants__title {
    width: 100%;
  }
  .section-restaurants__container {
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
/* Large Devices (Desktop, more/equal than 1024px */
@media (min-width: 1200px) {
  .section-function {
    padding-inline: 10%;
  }
  .section-function__container {
    flex-direction: row;
  }
  .section-function__container--tips {
    width: 33%;
  }
  .section-restaurants {
    padding-inline: 10%;
  }
}
/***** LOADER *****/
.loader {
  position: absolute;
  z-index: 500;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(234, 234, 234);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: disapear 1s 3000ms forwards;
}
.loader__logo {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 40px;
}
.loader__container {
  display: flex;
  gap: 20px;
}
.loader__square {
  width: 20px;
  height: 20px;
}
.loader__square-1 {
  background-color: #9356DC;
  animation: loader 2s both infinite;
}
.loader__square-2 {
  background-color: #FF79DA;
  animation: loader-2 2s infinite;
}
.loader__square-3 {
  background-color: #99E2D0;
  animation: loader-3 2s infinite;
}

@keyframes loader {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translateX(80px);
  }
  50% {
    transform: translateX(40px);
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes loader-2 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-40px);
  }
  75% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes loader-3 {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translateX(-80px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-40px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes disapear {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-9999px);
  }
}/*# sourceMappingURL=style.css.map */