.main-button {

    background: linear-gradient($secondary-color, $primary-color);
    border-radius: 50px;
    color: $second-bg-color;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-weight: 500;
    transition: all 400ms ease-in-out;
    

    &:hover {
        background: linear-gradient($light-secondary-color, $light-primary-color);
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.4);
        transform: scale(1.005);

    }
}
