.main-button {

    width: fit-content;
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: 50px;
    color: $second-bg-color;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-weight: 500;
    

    &:hover {
        
    }
}