@use '../utilities/_variables' as *;


.footer {
    padding: 22px 25px;
    display: flex;
    flex-direction: column;
    background: rgba(53, 53, 53, 1);
    color: $secondbgcolor;

        &__title {
            font-family: 'shrikhand';
            
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 8px;
            list-style: none;
            font-weight: 500;
            margin-top: 15px;
            padding-left: 0;


            &--link a{
                text-decoration: none;
                color: $secondbgcolor;
            }

            &--link i {
                width: 20px;
                padding-right: 5px;
            }
        }
}

/****** Media queries ***********/
/* Medium devices (tablets, more/equal than 768px) */
@media (min-width: 769px) {

   .footer {
    flex-direction: row-reverse;
    align-items: center;
    
    

    &__title{
        margin-left: 20px;
    }
    &__list {
        flex-direction: row;
        margin-top: 0;
        
    & :nth-child(3) {

        margin-left: 1rem;
    }
    }
   }
    
}

/* Large Devices (Desktop, more/equal than 1024px */
@media (min-width:1025px) {

    .footer {
        padding-inline: 5%;
        padding-bottom: 5px;
        align-items: center;

        &__title {
            padding-left: 5%;
        }
        &__list {
            
            
        & :nth-child(3) {
    
            margin-left: 3rem;
        }
        }
        
    }
}